{% extends "sidebar_table.html" %}
{% block list_posts %}


            <div class="row">
                <div class="col-xs-12">
                    <span class="page-title"><h4>{{ follow_message }}</h4></span>
                    {% block check_scheduled_time %}
                    {% if most_recent_scheduled_time != 0 %}
                    <span class="page-title"><h4>The earliest scheduled published time is: <b>{{ most_recent_scheduled_time }}</b></h4></span>
                    {% endif %}
                    {% endblock check_scheduled_time %}
                </div>
            </div>
            <div class="row">

                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <div class="content-block">
                        <div class="block-content">

                            {% block check_published_status_csv %}
                            {% if published_status == 'published' %}
                            <form name="f1" method='post'>
                                <button type="submit" name="view_insights" value="view_insights">View Posts Insights</button>
                            </form>
                            <br>
                            {% endif %}
                            {% endblock check_published_status_csv %}


                            <table id="example" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Created time</th>
                                        <th>Admin Creator</th>

                                        {% block check_published_status_one %}
                                            {% if published_status == 'published' %}
                                                <th>Promotion</th>
                                            {% elif published_status == 'scheduled' %}
                                                <th>Scheduled time</th>
                                            {% endif %}
                                        {% endblock check_published_status_one %}
                                        <th>Message</th>

                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% block check_published_status_two %}
                                {% for post in post_list %}
                                    <tr>
                                        <td>{{ post.created_time }}</td>
                                        <td>{{ post.admin_creator }}</td>
                                        {% if published_status == 'published' %}
                                            <td>{{ post.promotion_status }}</td>
                                        {% elif published_status == 'scheduled' %}
                                            <td>{{ post.scheduled_time }}</td>
                                        {% endif %}

                                        <td>{{ post.message }}</td>

                                        <td>
                                            <form name="f1" method='post'>
                                                <input type="hidden" name="published_status" value="{{published_status}}">
                                                <button type="submit" name="view" value='{{post.page_post_id}}'>Details</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                {% endblock check_published_status_two %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(function() {
        $('#example').DataTable({
             "order": [[ 0, "desc" ]]
        });
    });
    </script>

</body>

</html>

{% endblock %}