{% extends "sidebar_table.html" %}
{% block post_insights %}


            <div class="row">
                <div class="col-xs-12">
                    <span class="page-title"><h4>{{ follow_message }}</h4></span>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <div class="content-block">
                        <div class="block-content">
                            <form name="f1" method='post'>
                                <button type="submit" name="export_excel" value="export">Export as Excel</button>
                                <button type="submit" name="send_email" value="export">Send to Email</button>
                                <input type="text" name="email_address">
                            </form>
                            <br>
                            <table id="example" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Created time</th>
                                        <th>Promotion</th>
                                        <th>IFP</th>
                                        <th>IF</th>
                                        <th>ImpP</th>
                                        <th>Imp</th>
                                        <th>Con</th>
                                        <th>EU</th>
                                        <th>FR</th>
                                        <th>EF</th>
                                        <th>NF</th>
                                        <th>Message</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for post in post_list %}
                                    <tr>
                                        <td>{{ post.created_time }}</td>
                                        <td>{{post.promotion_status}}</td>
                                        <td>{{post.post_impressions_fan_paid}}</td>
                                        <td>{{post.post_impressions_fan}}</td>
                                        <td>{{post.post_impressions_paid}}</td>
                                        <td>{{post.post_impressions}}</td>
                                        <td>{{post.post_consumptions}}</td>
                                        <td>{{post.post_engaged_users}}</td>
                                        <td>{{post.post_fan_reach}}</td>
                                        <td>{{post.post_engaged_fan}}</td>
                                        <td>{{post.post_negative_feedback}}</td>
                                        <td>{{ post.message }}</td>
                                        <td>
                                            <form name="f1" method='post'>
                                                <input type="hidden" name="published_status" value="{{published_status}}">
                                                <button type="submit" name="view" value='{{post.page_post_id}}'>Details</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(function() {
        $('#example').DataTable({
             "order": [[ 0, "desc" ]]
        });
    });
    </script>

</body>

</html>
{% endblock %}
