{% extends "sidebar.html" %}
{% block view_post %}

    <div class="content-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <span class="page-title red"><h3>View Post</h3></span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <span class="page-title"><h4>Published status: <b>{{view_message}}</b></h4></span>
                    <span class="page-title"><h4>Created by: <b>{{post.admin_creator}}</b></h4></span>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="content-block">
                        <form class="form-vertical" method='post'>
                            <div class="block-content">
                                <div class="form-group">
                                    <input type="hidden" name="current_status" value="{{ post.published_status }}">
                                    <input type="hidden" name="post_id" value="{{ post.page_post_id }}">
                                    <textarea name="message" class="form-control" rows="12">{{post.message}}</textarea>
                                </div>

                                {% block check_published %}

                                    {% if published_status != 'published' %}
                                            <select name='updated_status' style="margin-right: 12px">
                                        {% if published_status == 'unpublished' %}
                                                <option value='unpublished'>Don't publish it</option>
                                                <option value='published'>Publish it right now</option>
                                                <option value='scheduled'>Schedule the publish</option>
                                        {% elif published_status == 'scheduled' %}
                                                <option value='published'>Publish it right now</option>
                                                <option value='scheduled'>Schedule the publish</option>
                                        {% endif %}
                                            </select>
                                            <input type="datetime-local" name="scheduled_time" id="scheduled_time", min="{{ current_date_time }}" style="margin-right: 12px">
                                    {% endif %}

                                {% endblock check_published %}

                                <button type="submit" name='edit' value='submit'>Update</button>
                                &nbsp;&nbsp;
                                <button type="submit" name='delete' value='delete'>Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}
